@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* main / body / root */
  #react-root {
    display: grid;
    grid-template-columns: 0.75fr 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'sidenav body subreddits';
    height: 100vh;
  }
  /* sidenav */
  .sidenav-grid {
    @apply h-screen dark:bg-gray-900;
    grid-area: sidenav;
  }
  .sidenav-wrapper {
    @apply sticky top-0 z-10 flex flex-col items-stretch justify-start w-full h-full border-r border-slate-700;
  }
  .sidenav-wrapper > ul {
    @apply grow overflow-hidden;
  }
  .navlink-list {
    @apply mx-4 my-2;
  }
  .navlink-link {
    @apply flex items-center p-2 text-base font-normal transition duration-300 rounded-lg text-slate-900 dark:text-white hover:bg-slate-100 dark:hover:bg-slate-700;
  }
  .active {
    @apply bg-slate-500;
  }

  /* posts/body */
  .posts-grid {
    @apply h-screen overflow-x-hidden overflow-y-auto dark:bg-slate-800;
    grid-area: body;
  }
  .posts-grid::-webkit-scrollbar {
    display: none;
  }
  .posts-wrapper {
    @apply flex flex-col items-center justify-between w-full h-full gap-4;
  }
  .header-logo {
    @apply sticky z-10 flex flex-col items-center min-w-full gap-4;
    top: -20px;
  }
  .logo-wrapper {
    @apply flex flex-col w-full mx-4 my-4 border-b shadow-lg bg-slate-800 border-slate-700;
  }
  .logo-container {
    @apply self-center w-1/5 mt-5 mb-8 justify-self-center;
  }

  /* post component */
  .post-wrapper {
    @apply flex flex-row pt-5 pb-4 pl-2 pr-8 shadow-lg rounded-xl bg-slate-700 border border-slate-700 hover:border-gray-500 transition-all;
    width: 80%;
  }
  .upvotes {
    @apply flex flex-col items-center justify-center mr-3;
  }
  .votes {
    @apply text-base text-slate-300 cursor-default;
  }
  .votes-deco {
    @apply w-0 h-full border border-slate-400;
  }
  .post-group {
    @apply flex flex-col items-center justify-center w-full grow;
  }
  .post-info {
    @apply flex flex-col items-start self-start justify-center gap-1;
  }
  .post-content {
    @apply flex flex-col items-start w-full;
  }
  .post-content > img {
    @apply w-full rounded-md;
  }
  .post-content > video {
    @apply w-full rounded-md;
  }
  .subreddit-name {
    @apply pb-1 text-lg font-semibold text-gray-900 dark:text-white;
  }
  .post-author {
    @apply text-sm font-normal text-gray-400 mx-1;
  }
  .post-time {
    @apply text-sm font-normal text-gray-400 mx-1;
  }
  .post-title {
    @apply w-full mb-4 text-lg font-normal text-gray-800 dark:text-gray-300;
  }
  .post-description {
    @apply text-gray-300;
  }
  .comments-group {
    @apply flex flex-row-reverse gap-2 mt-4 mr-1;
  }
  .comment-number {
    @apply self-start text-gray-800 cursor-pointer justify-self-start dark:text-gray-400;
  }

  /* Pagination / Searchbar */
  .pagination {
    @apply mx-4 my-4;
  }
  .pagination-button {
    @apply px-4 py-2 text-sm font-medium text-gray-200 transition duration-300 bg-gray-600 border-gray-500 rounded-md hover:bg-gray-500;
  }

  /* subreddits/menu */
  .subreddits-grid {
    @apply grid h-screen overflow-x-hidden overflow-y-auto border-l dark:bg-gray-900 border-slate-700;
    grid-area: subreddits;
  }
  .subreddits-grid::-webkit-scrollbar {
    display: none;
  }
  .searchbar-grid {
    grid-area: searchbar;
  }
  .sub-grid {
    @apply sticky top-0 z-10 mx-4 my-4;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 10fr;
    grid-template-areas:
      'searchbar'
      'searchresults';
  }
  .searchbar-input {
    @apply block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }
  .search-btn {
    @apply transition duration-300 text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
  }
  .searchresults-grid {
    @apply grid items-baseline;
    grid-area: searchresults;
  }
  .searchresults-wrapper {
    @apply flex flex-col items-start justify-start p-8 text-white bg-slate-700 rounded-xl;
  }
  .comments-wrapper {
    @apply box-content flex flex-col self-start w-full h-full gap-1 cursor-default mt-6;
  }

  /* Logos / SVG / Assetts */
  a {
    @apply transition duration-300;
  }
  .nav-link-txt {
    @apply ml-3 text-stone-50;
  }
  .letter-logo {
    @apply fill-red-500;
  }
  .leelo-outline {
    @apply fill-black;
  }
  .leelo-main {
    @apply fill-stone-50;
  }
  .leelo-eyes {
    @apply fill-red-500;
  }
  .nav-logo {
    @apply mt-4 overflow-hidden;
  }
  .nav-logo > svg {
    box-sizing: content-box;
    width: 50%;
    margin: 0 auto;
    padding: 15px 20px 40px 20px;
  }
  .heroicons {
    @apply w-6 h-6 fill-stone-50;
  }
  .loading-wrapper {
    @apply flex flex-col items-center justify-center w-full h-full;
  }
  .loading-status {
    @apply self-center text-gray-400 w-14 h-14 animate-spin fill-red-500;
  }
  .error-status {
    @apply flex p-4 mb-4 text-base text-red-400 bg-gray-800 border border-red-800 rounded-lg;
  }
  .subreddit-icon {
    @apply w-8 text-gray-200;
  }
  .vote-icon {
    @apply min-w-8 max-w-8 text-slate-300;
  }
  .secondary-icons {
    @apply w-6 text-gray-400 cursor-pointer;
  }
  .post-icons {
    @apply flex flex-row items-end justify-between w-full;
  }
  .post-icons > a > svg {
    @apply opacity-80 hover:opacity-100 hover:fill-stone-50 transition-all;
  }
  .name-icon-wrapper {
    @apply flex flex-row items-center justify-center gap-3 hover:opacity-80 transition-all;
  }
}
