@tailwind base;
@tailwind components;
@tailwind utilities;

.item-a {
  grid-area: header;
}
.item-b {
  grid-area: main;
}
.item-c {
  grid-area: sidebar;
}
.item-d {
  grid-area: footer;
}

@layer components {
  #react-root {
    /* @apply flex flex-row justify-between overflow-x-hidden; */
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.75fr;
    grid-template-rows: auto;
    grid-template-areas: 'sidenav body subreddits';
    height: 100vh;
  }
  .sidenav-grid {
    grid-area: sidenav;
  }
  .body-grid {
    grid-area: body;
  }
  .subreddits-grid {
    grid-area: subreddits;
  }
  .body-wrapper {
    @apply flex flex-col bg-gray-800 h-screen justify-between items-center grow;
  }
  .posts {
    @apply flex flex-col items-center gap-4;
  }
  .post {
    @apply flex flex-col px-3 py-4 rounded-lg justify-start bg-blue-900 border-slate-900 items-center w-1/2;
  }
  .pagination {
    @apply mx-4 my-4;
  }
  .sr-nav-wrapper {
    @apply bg-black-low h-screen;
  }
  .sidenav-main-wrap {
    @apply px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-600 h-screen;
  }
  .navlink {
    @apply flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700;
  }
  .active {
    @apply bg-gray-500;
  }
  .sidenav-svg {
    @apply w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white;
  }
  .logo-wrapper {
    @apply w-1/4 self-center justify-self-center my-8;
    color: #df3e3b;
  }
  .logo-container {
    @apply flex flex-col rounded-full border-slate-500 border-2 mx-4 my-4 bg-gray-800;
    width: 80%;
    z-index: 1;
  }
  .leelo-logo {
    fill: #fcfbfa;
  }
  .leelo-main {
    fill: #fcfbfa;
  }
  .leelo-eyes {
    fill: #df3e3b;
  }
  .leelo-outline {
    fill: #2c2c2c;
  }
  .nav-logo > svg {
    box-sizing: content-box;
    width: 50%;
    margin: 0 auto;
    padding: 15px 20px 40px 20px;
  }
}
